/* App.css */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* App.css */
/* .App {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
} */

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.section {
  min-height: 100vh;
  padding: 60px 20px;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

#home {
  background-color: lightblue;
}

#contact {
  background-color: lightcoral;
}

.scroll-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-buttons button {
  padding: 10px 15px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.scroll-buttons button:hover {
  background-color: #555;
}

/* Scroll Indicator */
.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ccc;
  z-index: 999;
  visibility: hidden;
  transition: visibility 0.3s ease;
}

.scroll-indicator.active {
  visibility: visible;
}

.indicator-bar {
  height: 100%;
  background-color: #4caf50;
}
